<div id="<%= dom_id promotion %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Product:</strong>
    <%= promotion.product_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= promotion.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= promotion.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= promotion.description %>
  </div>
</div>
