<%= form_with(model: @product, local: true) do |form| %>
  <div class="mb-6">
    <%= form.label :name, class: "block font-medium text-gray-700" %>
    <%= form.text_field :name, class: "mt-1 block w-full rounded border border-gray-300 p-2" %>
  </div>

  <div class="mb-6">
    <%= form.label :code, class: "block font-medium text-gray-700" %>
    <%= form.text_field :code, class: "mt-1 block w-full rounded border border-gray-300 p-2" %>
  </div>

  <div class="mb-6">
    <%= form.label :price, class: "block font-medium text-gray-700" %>
    <%= form.number_field :price, step: "0.001", class: "mt-1 block w-full rounded border border-gray-300 p-2" %>
  </div>

  <div>
    <label class="block text-sm font-medium text-gray-700">Promotions</label>
    <%= form.collection_select :promotion_id, @promotions, :id, :name, { prompt: "Select Promotion" },
      class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
  </div>

  
  <div class="mt-6">
    <%= form.submit class: "bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700" %>
  </div>
<% end %>
